<!--Footer-->
<!DOCTYPE html>
<html>
<hr>
<footer class="footer-links wrap-container" id="footer" style="padding-left:10vw ;">
    <div class="wrap">
        {% for tab in site.data.includes.footer.footer_content %}
        <div class="col col-md-3">
        <h3><a href="{{site.url}}/{{site.baseurl}}/{{tab.link}}" style="margin-right: 0;">{{tab.tabname}}</a></h3>
            <ul class="lists">
              {% for child in tab.subtopic %}
                <li><a href="{{site.url}}/{{site.baseurl}}/{{child.sub_link}}" >{{child.subtab}}</a></li>
              {% endfor %}
            </ul>
        </div>
        {% endfor %}
  </div>
</footer>
</html>
